h1, h2, h3 {
  font-family: "Noto Serif"; 
  color: white;
}
h4, h5, h6, body, p, li {
  font-family: "Vollkorn"; 
  color: #424242;
  font-weight: normal;
  padding-left: 0.5em;
}

blockquote {
  border-left: 5px solid #FF5252;
  padding-left: 10px;
  margin-inline-start: 20px;
}

a:link {
  color: white; 
  text-decoration: none;
}
a:visited {
  color: white; 
  text-decoration: none;
}
a:hover {
  color: white; 
  text-decoration: none;
}
a:active {
  color: white; 
  text-decoration: none;
}

ul {
  list-style: none;
}

li:before {
  content: "\e5cc"; /* Material Icons Unicode */
  font-family: Material Icons;
  margin-left: -1.8em;
  color: #FF5252;
  font-weight: bold;
}

body {
  background-color: #FFB74D;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.collapse:before{
  content: "\e5cc";
  font-family: Material Icons;
  color: #FF5252;
  font-weight: bold;
  float: right;
  margin-top: 3vw;
}

.collapse{
  display:block;
}
.collapseTitle{
  cursor:pointer;
}
.close .collapseContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
.open .collapseContent{
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
}
