<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>UNCmorfi</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href=" {{ '/assets/main.css' | absolute_url }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% assign headers = site.data.headers[page.lang] %}
    <nav class="nav-extended grey lighten-4">
      <div class="nav-content">
        <span class="nav-title grey-text text-darken-1"><h4>{{ headers.faq-title }}</h4></span>
        {% if page.lang == es }
        <a href="{{ '/en' | absolute_url }}">en</a>
        {% else %}
        <a href="{{ '/es' | absolute_url }}">es</a>
        {% endif %}
      </div>
    </nav>

    {{ content }}

    {% assign pages=site.pages | where:"resource", true | where:"lang", page.lang %}
    <div class="container">
      <div class="flow-text">
        <h4>{{ headers.faq-indice }}</h4>
        <ol>
        {% for p in pages %}
          <li><a href="#{{ p.ref }}">{{ p.title }}</a></li>
        {% endfor %}
        </ol>
      </div>

      {% for p in pages %}
      <h4 id="{{ p.ref }}">{{ p.title }}</h4>
      <div class="flow-text">
        {{ p.content }}
      </div>
      {% endfor %}

      <div onclick="topFunction()" id="FAB" class="fixed-action-btn scale-transition scale-out">
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">arrow_upward</i>
        </a>
      </div>
    </div>
  
    <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("FAB").classList.replace("scale-out", "scale-in");
      } else {
        document.getElementById("FAB").classList.replace("scale-in", "scale-out");
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    </script>
  </body>
</html>